doctype html
html
  head
    title Weather App
    link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cyborg/bootstrap.min.css", rel="stylesheet", integrity="sha384-uSbimwRPo7PKyTL6azsx1CcBce/X9Qg+wX1MAjNV1gAkSXYveZbZeMMyJghdsSol", crossorigin="anonymous")
    
  body(ng-app="app", ng-style="backgroundImage", style="background-size: cover")
    h1.text-center Weather App for #FreeCodeCamp
    h2.text-center By Naresh Mehta
    div(ng-controller="WeatherController")
      div
        h3.text-center(ng-hide="isLocationAvailable") Trying to get location {{getLocation()}}
        h3.text-center(ng-show="isLocationAvailable") Location found: Latitude = {{latitude}}, Longitude = {{longitude}}
        p(ng-hide="isLocationAvailable").text-center Location information is not available. No further processing can be done. Please acknowledge the browser prompt or use chrome to run this application. Error = {{locationError}}
        div.row.span7.text-center
          input.btn.btn-default.btn-success(type="button", value="Try Once Again", ng-click="getLocation()", ng-hide="isLocationAvailable")
      div(ng-show="isLocationAvailable")
        div.row.span7.text-center
          h3.text-center Country: {{weatherData.country}}, City: {{weatherData.city}}
            img(ng-src="{{weatherData.imageSource}}")
          h4.text-center WindSpeed: {{weatherData.wind.speed}} m/sec, Humidity: {{weatherData.humidity}}%, Pressure: {{weatherData.pressure}} hPa, {{weatherData.main}}
          p
          p
          h3.text-center Temperature: {{temperature}}
          input.btn.btn-default.btn-success(type="button", value="Toggle Metric/Imperial", ng-click="toggleUnits()")
                
    h4.text-center Copyright (c) 2016 - Naresh Mehta
        a(href='https://www.naresh.se/', target='_blank')  https://www.naresh.se/