<!DOCTYPE html>
<html>
  <head>
    <title>Weather App</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-uSbimwRPo7PKyTL6azsx1CcBce/X9Qg+wX1MAjNV1gAkSXYveZbZeMMyJghdsSol" crossorigin="anonymous">
  </head>
  <body ng-app="app" ng-style="backgroundImage" style="background-size: cover">
    <h1 class="text-center">Weather App for #FreeCodeCamp</h1>
    <h2 class="text-center">By Naresh Mehta</h2>
    <div ng-controller="WeatherController">
      <div>
        <h3 ng-hide="isLocationAvailable" class="text-center">Trying to get location {{getLocation()}}</h3>
        <h3 ng-show="isLocationAvailable" class="text-center">Location found: Latitude = {{latitude}}, Longitude = {{longitude}}</h3>
        <p ng-hide="isLocationAvailable" class="text-center">Location information is not available. No further processing can be done. Please acknowledge the browser prompt or use chrome to run this application. Error = {{locationError}}</p>
        <div class="row span7 text-center">
          <input type="button" value="Try Once Again" ng-click="getLocation()" ng-hide="isLocationAvailable" class="btn btn-default btn-success">
        </div>
      </div>
      <div ng-show="isLocationAvailable">
        <div class="row span7 text-center">
          <h3 class="text-center">Country: {{weatherData.country}}, City: {{weatherData.city}}<img ng-src="{{weatherData.imageSource}}"></h3>
          <h4 class="text-center">WindSpeed: {{weatherData.wind.speed}} m/sec, Humidity: {{weatherData.humidity}}%, Pressure: {{weatherData.pressure}} hPa, {{weatherData.main}}</h4>
          <p></p>
          <p></p>
          <h3 class="text-center">Temperature: {{temperature}}</h3>
          <input type="button" value="Toggle Metric/Imperial" ng-click="toggleUnits()" class="btn btn-default btn-success">
        </div>
      </div>
    </div>
    <h4 class="text-center">Copyright (c) 2016 - Naresh Mehta<a href="https://www.naresh.se/" target="_blank"> https://www.naresh.se/</a></h4>
  </body>
</html>