doctype html
html
  head
    title Wikipedia Viewer
    link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cyborg/bootstrap.min.css", rel="stylesheet", integrity="sha384-uSbimwRPo7PKyTL6azsx1CcBce/X9Qg+wX1MAjNV1gAkSXYveZbZeMMyJghdsSol", crossorigin="anonymous")

  body(ng-app="app")
    h1.text-center Wikipedia Viewer
    h2.text-center #FreeCodeCamp
    h2.text-center By Naresh Mehta
    div(ng-controller="WikiController")
      div.container.text-center
        h4.text-center
          form#searchField(ng-submit="search(searchText)")
            input(type="search", placeholder="What are you looking for?", ng-model="searchText")
            p
            input.btn.btn-default.btn-success(type="button", value="Random Wikipedia Page!", ng-click="getRandomWikiPage()")
            input.btn.btn-default.btn-danger(type="button", value="Clear Search Results!", ng-click="clearSearchResults()")
      div.container
        // Search result is stored here
        ol
          li(ng-repeat='result in queryObjects').list-item.materialCard.note
            p.list-item {{result.title}}
            a.list-link(ng-click="openPage(result.pageid)")
              | {{result.extract}}

    h4.text-center Copyright (c) 2016 - Naresh Mehta
        a(href='https://www.naresh.se/', target='_blank')  https://www.naresh.se/
