input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
  color: black;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: block;
}


input[type=search] {
	background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 10px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 35px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 350px;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

.containerList {
  width: 600px;
  margin: auto;
}

.list-item {
  background: white;
  box-shadow: 0 1px 2px #999;
  height: auto;
  line-height: 30px;
  list-style: none;
  margin: 10px 0;
  padding: 20px 10px;
  transform: translateZ(0);
  transition: box-shadow 0.25s ease-in;
  width: auto;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: auto;
  }
}

.list-link {
  font-size: 1.5em;
  color: #222;
}
// Colors:
$color-main-background: #F5F5F5;
$color-card-background: #FFFFFF;
$color-card-font: #000000;
$color-card-alert: #E9453A;
$color-card-success: #8CC04D;
$color-card-warning: #F49719;
$color-card-note: #428DCC;
$color-card-subtitle: #9E9E9E;

// Padding:
$padding-card: 15px;

// Margin:
$margin-card: 30px auto;

// Body
body {
  background-color: $color-main-background;
}

// Card
.materialCard {
  box-sizing: border-box;
  background-color: $color-card-background;
  color: $color-card-font;
  border-top: 5px solid $color-card-background;
  border-radius: 3px;
  padding: $padding-card;
  margin: $margin-card;
  box-shadow: 5px 3px 3px 0 rgba(0, 0, 0, 0.26);

  &.alert {
		border-top: 5px solid $color-card-alert;
	}

	&.success {
		border-top: 5px solid $color-card-success;
	}

	&.warning {
		border-top: 5px solid $color-card-warning;
	}

	&.note {
		border-top: 5px solid $color-card-note;
	}

	&.image {
		border: none;
	}
}
