doctype html
html
  head
    title Online Calculator By Naresh Mehta
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')
    link(async href='http://fonts.googleapis.com/css?family=Aclonica', data-generated='http://enjoycss.com', rel='stylesheet', type='text/css')
  body.content-section
    h1.enjoy-css A Tribute Page
    h2.text-center By Naresh Mehta
    div.container
      div.jumbotron
        div.row
          h1.text-center Albert Einstein (1879-1955)
          h2.text-center
            i One of the worlds' great thinkers!
          div.thumbnail
            img(src='http://waynejagoe.com/wp-content/uploads/2014/12/Albert-Einstein-HD.jpg')
            div.caption.text-center Albert Einstein, professor of theoretical physics, remembered for his E=mc2 and theory of relativity.
            div.col-sm-12
              h3 Below is the timeline for Albert Einstein's life:
              - var timeline = {'March 14, 1879:':'Albert Einstein is born in Ulm, Germany, the first child of Hermann and Pauline Einstein.', 'June 21, 1880:':'The Einstein family moves to Munich, Germany.','March 31, 1885:':' Einstein enrolls in the second grade of a Catholic elementary school called the Petersschule. He receives Jewish religious instruction at home and also begins taking violin lessons.','October 1, 1888:':'Einstein is accepted at the Luitpold Gymnasium','Fall 1889:':'The medical student Max Talmud begins joining the Einstein family regularly for dinner and introduces Albert to scientific and philosophical writings.','June 1894:':'The Einstein family moves to Milan, Italy, but Einstein remains in Munich to complete his education at the Gymnasium.','December 29, 1894:':'Einstein drops out of the Luitpold Gymnasium and joins his family in Milan.','October 26, 1895:':'After failing the entry exam for the Zurich Polytechnic, Einstein is accepted to the trade department of the cantonal school in Aarau, Switzerland. He lives with the family of Jost Winteler, a teacher in Aarau.','January 28, 1896:':'Einstein officially renounces his German citizenship.','October 1896:':'Einstein begins studying at the Zurich Polytechnic in a teachers\' training program.','July 28, 1900:':'Einstein receives his diploma as a mathematics teacher and starts work on his doctoral thesis.','February 21, 1901:':'Einstein officially becomes a Swiss citizen.','May-July 1901:':'Einstein works as a temporary teacher at the Technical College in Winterthur, Switzerland.','September 1901:':'Einstein works as a teacher at a private school in Schaffhausen, Switzerland.','Early 1902:':'Lieserl, Einstein and Mileva Maric\'s illegitimate daughter, is born in Hungary.','June 16, 1902:':'Einstein is hired as a patent officer in Bern.','January 6, 1903:':'Einstein and Mileva are married in Bern.','April 1903:':'Einstein forms the Olympia Academy with his friends Maurice Solovine and Conrad Habicht.','May 14, 1904:':'Hans Albert, Einstein and Mileva\'s first son, is born in Bern.','March 17, 1905:':'Einstein completes his paper on quantum theory.','May 11, 1905:':'Einstein\'s paper on Brownian motion is accepted by the Annalen der Physik.','September 28, 1905:':'Einstein\'s paper on the special theory of relativity is published in the Annalen der Physik.','January 15, 1906:':'Einstein receives his doctorate from the University of Zurich.','February 28, 1908:':'Einstein becomes a privatdozent at Bern University.','May 7, 1909:':'Einstein is appointed extraordinary professor of theoretical physics at Zurich University.','July 28, 1910:':'Eduard, the Einsteins\' second son, is born in Zurich.','January 30, 1912:':'Einstein is appointed professor of theoretical physics at the Zurich Polytechnic.','August 1912:':'Einstein begins collaborating with Marcel Grossman about the general theory of relativity.','December 7, 1913:':'Einstein accepts a position at the University of Berlin.','June 1914:':'Einstein and Mileva separate, and she returns to Zurich with their sons.','November 1914:':'Einstein signs a "Manifesto to the Europeans" advocating his pacifist and internationalist ideals. He also completes his formulation of the general theory of relativity.','September 1917:':'Einstein moves into the apartment of his cousin Elsa in Berlin.','October 1, 1917:':'The Kaiser Wilhelm Institute for Physics begins operating under Einstein\'s management.','February 14, 1919:':'Einstein and Mileva obtain a divorce.','June 2, 1919:':'Einstein marries his cousin Elsa in Berlin.','November 6, 1919:':'A solar eclipse has allowed scientists to observe phenomena predicted by Einstein\'s general relativity theory, and news of the theory\'s confirmation is announced at a ceremonial meeting of the Royal Society of London. Einstein becomes famous.','April 2-May 30 1921:':'Einstein visits the U.S. for the first time on a fund- raising tour for the establishment of the Hebrew University in Jerusalem.','November 9, 1922:':'Einstein wins the Nobel Prize for his work on quantum theory.','1926:':'Heisenberg, Schroedinger, Born, and others formulate quantum mechanics on the basis of Einstein\'s quantum theory.','October 1927:':'Einstein begins debating with Bohr about the new quantum mechanics at the Solvay Conference in Brussels.','August 1932:':'Einstein is appointed to the Institute of Advanced Study in Princeton. He plans to spend half a year a Princeton and the other half in Berlin.','January 30, 1933:':'The Nazis seize power in Germany.','March 28, 1933:':'Einstein resigns from the Prussian Academy of Sciences and declares that he will not return to Germany.','October 17, 1933:':'Einstein moves to the United States with his wife and his secretary Helen Dukas.','December 20, 1933:':'Elsa Einstein dies in Princeton.','August 2, 1939:':'Einstein signs a letter to President Franklin D. Roosevelt urging the acceleration of atomic bomb development.','October 1, 1940:':'Einstein becomes an American citizen.','August 6, 1945:':'The first atomic bomb is dropped on Hiroshima.','May 1948:':'The State of Israel is established by the United Nations.','November 1952:':'After Chaim Weizmann\'s death, Einstein is offered the presidency of Israel. He declines.','April 18, 1955:':'Einstein dies in New Jersey. His body is cremated and his papers turned over to the Hebrew University in Jerusalem.'}
              ul
                each time, line in timeline
                  li!= '<strong>' + line + '</strong>' + " " + time
                h3 Read more about this great personality on 
                  a(href='https://en.wikipedia.org/wiki/Albert_Einstein', target='_blank') Wikipedia.

      h4.text-center Copyright (c) 2016 - Naresh Mehta
        a(href='https://www.naresh.se/', target='_blank')  https://www.naresh.se/