//output:index.html, pretty:true
doctype html
html(lang="en")
  head
    title Online Calculator By Naresh Mehta
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')
    link(async href='http://fonts.googleapis.com/css?family=Aclonica', data-generated='http://enjoycss.com', rel='stylesheet', type='text/css')
  body.content-section
    h1.enjoy-css Online Calculator
    h2.text-center By Naresh Mehta
    // Now starts the actual code to draw the Calculator
    div.content-section.container
      div.row
        div.col-sm-6.col-centered
          div.container
            input#operations-stack(readonly type='text', maxlength=20).css-input
            div(style='padding-bottom: 0px')
            input#results-output(readonly type='text', maxlength=20).css-input
            div(style='padding-bottom: 20px')
            div.container
              div.col-sm-16
                div.row.button-padding
                ///
                  button#btn-mc.calculator-button MC
                  button#btn-mr.calculator-button MR
                  button#btn-ms.calculator-button MS
                  button#btn-mplus.calculator-button M+
                  button#btn-mminus.calculator-button M-
                div.row.button-padding
                  button#btn-backspace.calculator-button &#8678
                  button#btn-ce.calculator-button CE
                  button#btn-cancel.calculator-button C
                  button#btn-plusminus.calculator-button &#0177
                  button#btn-squareroot.calculator-button &#8730
                div.row.button-padding
                  button#btn-seven.calculator-button 7
                  button#btn-eight.calculator-button 8
                  button#btn-nine.calculator-button 9
                  button#btn-divide.calculator-button /
                  button#btn-invert.calculator-button 1/x
          div.container
            div.row
              div.col-sm-9
                div.row
                  div.col-xs-6.col-sm-6
                    div.container
                      div.row.button-padding
                        button#btn-four.calculator-button 4
                        button#btn-five.calculator-button 5
                        button#btn-six.calculator-button 6
                        button#btn-multiply.calculator-button *
                        //button#btn-modulo.calculator-button %
                      div.row.button-padding
                        button#btn-one.calculator-button 1
                        button#btn-two.calculator-button 2
                        button#btn-three.calculator-button 3
                        button#btn-subtract.calculator-button -
                      div.row.button-padding
                        button#btn-zero.calculator-button 0
                        button#btn-decimal.calculator-button .
                        button#btn-plus.calculator-button +
                        //button#btn-subtract.calculator-button =
                  div.col-xs-4.col-sm-6
                    div.container
                      button#btn-equals.calculator-button-big =
  div.content-section
    h4.text-center Copyright (c) 2016 - Naresh Mehta
      a(href='https://www.naresh.se/')  https://www.naresh.se/
