.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  border: none;
  font: normal 76px/1 "Aclonica", Helvetica, sans-serif;
  color: #0096ff;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 0 rgba(204, 65, 37, 1), 4px 0 9px rgba(86, 170, 255, 0.9);
}

.content-section {
  padding-top: 70px;
  background: url('http://images7.alphacoders.com/475/475592.png') no-repeat center center fixed;
  background-size: cover;
}

.content-section:border {}

.col-centered {
  float: none;
  margin: 0 auto;
}

.calculatorBackground {
  background-image: url('') no-repeat center center fixed;
}

.css-input {
  border-color: #cccccc;
  padding: 12px;
  font-size: 40px;
  text-align: right;
  border-width: 10px;
  border-radius: 20px;
  border-style: double;
  box-shadow: 10px 0px 5px 0px rgba(42, 42, 42, .75);
}

.css-input:focus {
  outline: none;
}

.calculator-button {
  width: 103px;
  font-family: impact;
  color: #1B0F6A !important;
  font-size: 40px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #3866A3;
  background: #63B8EE;
  background: linear-gradient(top, #586CEE, #32B5CF);
  background: -ms-linear-gradient(top, #586CEE, #32B5CF);
  background: -webkit-gradient(linear, left top, left bottom, from(#586CEE), to(#32B5CF));
  background: -moz-linear-gradient(top, #586CEE, #32B5CF);
}

.calculator-button:hover {
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(top, #8ACF30, #63B8EE);
  background: -ms-linear-gradient(top, #8ACF30, #63B8EE);
  background: -webkit-gradient(linear, left top, left bottom, from(#8ACF30), to(#63B8EE));
  background: -moz-linear-gradient(top, #8ACF30, #63B8EE);
}

.calculator-button-big {
  width: 101px;
  height: 170px;
  font-family: impact;
  color: #1B0F6A !important;
  font-size: 40px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #3866A3;
  background: #63B8EE;
  background: linear-gradient(top, #586CEE, #32B5CF);
  background: -ms-linear-gradient(top, #586CEE, #32B5CF);
  background: -webkit-gradient(linear, left top, left bottom, from(#586CEE), to(#32B5CF));
  background: -moz-linear-gradient(top, #586CEE, #32B5CF);
}

.calculator-button-big:hover {
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(top, #8ACF30, #63B8EE);
  background: -ms-linear-gradient(top, #8ACF30, #63B8EE);
  background: -webkit-gradient(linear, left top, left bottom, from(#8ACF30), to(#63B8EE));
  background: -moz-linear-gradient(top, #8ACF30, #63B8EE);
}

.button-padding {
  padding: 0px 20px 10px 20px;
}