<head>
  <title>Personal Portfolio - Naresh Mehta</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link async href="http://fonts.googleapis.com/css?family=Aclonica" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css" />
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50" class="container-fluid">
  <!-- Top Navigation bar -->
  <!-- Navigation -->
  <nav class="navbar navbar-default topnav navbar-fixed-top" role="navigation">
    <div class="container container-fluid topnav">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <svg width="150" height="40" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <a xlink:href="https://www.naresh.se/" target="_blank">
              <rect fill="grey" height="30" width="200" y="0" x="0" rx="15" />
              <text fill="white" text-anchor="middle" y="21" x="80">Naresh Mehta</text>
            </a>
          </svg>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#portfolio">Portfolio</a>
          </li>
          <li>
            <a id="contact" href="javascript:;">Contact</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
  <div class="alert alert-success" id="contactMeUsingSocialButtons">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <span class="text-center">
    <p>
    Send me a message by clicking on one of my social network buttons!
    </p>
  </span>
  </div>
  <!-- Header -->
  <a name="home"></a>
  <div class="main-header content-section well">
    <div class="bg-overlay">
      <div class="container container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="intro-message text-center">
              <h1 class="enjoy-css">Versatile Product/Project Manager & Engineer</h1>
              <h3>Architecture, Design & Development, Project Deliveries, Technical Solutions, Team Management, Product/Project Management, CRM </h3>
              <h5>5 plus years of experience within Sales & Marketing as a Sr. Product Manager responsible for technical marketing, strategic relationship maintenance and customer project setups, customer/partner/operator RFI/RFQ communication, planning & executing pre-sales and sales activities and collaboration with technical and sales teams for successful product completion and launch. In all, over a decade of experience in system analysis, architecture and design, product & project management, strategic planning, customer relations, product marketing, and development in embedded and real time computing, object oriented technologies, telecommunications and open source software.
</h5>
              <hr class="intro-divider">
              <ul class="list-inline intro-social-buttons">
                <li>
                  <a href="https://twitter.com/wolverine2k" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                  <a href="https://github.com/wolverine2k" target="_blank" class="btn btn-default btn-lg "><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                  <a href="https://bitbucket.org/wolverine2k/" target="_blank" class="btn btn-default btn-lg "><i class="fa fa-bitbucket fa-fw"></i> <span class="network-name">Bitbucket</span></a>
                </li>
                <li>
                  <a href="https://gitlab.com/wolverine2k" target="_blank" class="btn btn-default btn-lg "><i class="fa fa-linux fa-fw"></i> <span class="network-name">Gitlab</span></a>
                </li>

                <li>
                  <a href="https://se.linkedin.com/in/nareshmehta" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                </li>
                <li>
                  <a href="http://www.freecodecamp.com/wolverine2k" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-fire fa-fw"></i> <span class="network-name">freeCodeCamp</span></a>
                </li>
                <li>
                  <a href="https://www.facebook.com/wolverine2k" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                </li>
              </ul>
            </div>
            <hr class="intro-divider">
          </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
  </div>
  <!-- /.main-header -->

  <!-- Page Content -->

  <a name="about"></a>
  <div class="content-section well">
    <div class="bg-overlay2">
      <div class="container container-fluid">
        <div class="row">
          <div class="clearfix"></div>
          <h2 class="section-heading enjoy-css">Who am I?</h2>
          </br>
          <h6 class="section-heading"><img class="img-circle img-responsive profileimg" src="http://lh3.googleusercontent.com/-urTF-bu7exY/ThwrML_2xlI/AAAAAAAAAOE/YlvNktWWlEY/s400/DSC00093.JPG"> I am an individual with versatile experience and excellent combination of technical, analytical and communication skills backed by over a decade of experience in all phases of software development and product management / marketing. My grandfather
              left a big influence on my life and it is through him that I have learned the values of truth, loyalty, respect, spirituality, commitment, frankness, non-violence and love. My passion is to use technology based solutions, to help solve real world challenges.</br>
        <h4 class="text-center">Competences:</h4></br>
      <h5>Operating Systems:</h5>
    <h6>Windows, Linux, Maemo/MeeGo, EMP/OSE, Windows CE, MS-DOS, Symbian.</h6></br>
          <h5>Languages and Frameworks:</h5>
          <h6>C/Objective C, C++, Java, QT, EPOC / Symbian C++, Visual C++/MFC, Visual Basic, Visual C#, QBASIC, 8085/x86 Assembly, Smali, UML, RUP, DRModel.</h6></br>
          <h5>Tools & Expertise:<h5>
              <h6>Microsoft Project, Microsoft Visual Studio, QtCreator, Version 1, FocalPoint, Excel, FreeMind, DOORS, Requisite Pro, Git, Scrum/Agile Methodologies.</h6></br>
<h5>Learning:</h5>
          <h6>Responsive Web Design, PHP, Javascript, HTML5, CSS3, jQuery, Bootstrap3, Angular.js, Meteor.js, full-stack development, Big Data</h6>
          </h6>

        </div>

      </div>
      <!-- /.container-section-a -->
    </div>
  </div>

  <!-- Portfolio Grid Section -->
  <a name="portfolio"></a>
  <section id="portfolio" class="bg-light-gray bounds well content-section">
    <div class="container container-fluid">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading enjoy-css">Cool Projects Portfolio</h2>
          <h3 id="below-section" class="section-subheading text-muted">My full-stack portfolio is under construction. In the meantime, enjoy some of my System Projects!</h3>
        </div>
      </div>
      <!-- Portfolio img1 -->
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <a href="http://forum.xda-developers.com/oppo-find-5/development/marshmallow-unofficial-cm13-oppo-5-t3263384" target="_blank" data-toggle="modal">
            <img src="https://liquidsmooth.net/images/lslogo.png" class="img-responsive img" alt="">
          </a>
          <div>
            <h4>LiquidSmooth MM6 Find5</h4>
            <p id="small-text" class="text-muted">Android, Linux </p>
          </div>
        </div>
        <!-- End of Portfolio img1 -->

        <!-- Portfolio img2 -->
        <div class="col-md-4 col-sm-6">
          <a href="http://forum.xda-developers.com/oppo-find-5/development/unofficial-cm12-1-find5-rom-t3157418" target="_blank" data-toggle="modal">
            <img src="http://i60.tinypic.com/16k6kg4.jpg" class="img-responsive img" alt="">
          </a>
          <div>
            <h4>CyanogenMod 12.1 Find5</h4>
            <p id="small-text" class="text-muted">Android, Linux</p>
          </div>
        </div>
        <!-- End of Portfolio img2 -->

        <!-- Portfolio img3 -->
        <div class="col-md-4 col-sm-6">
          <a href="https://github.com/wolverine2k/O-Tools" target="_blank" data-toggle="modal">
            <img src="http://s24.postimg.org/sc6ca53o5/o_tools_2.png" class="img-responsive img" alt="">
          </a>
          <div>
            <h4>Toolkit for Oppo & OnePlus Devices</h4>
            <p id="small-text" class="text-muted">C++, Qt</p>
          </div>
        </div>
        <!-- End of Portfolio img3 -->

        <!-- Portfolio img4 -->
        <div class="col-md-4 col-sm-6">
          <a href="https://github.com/wolverine2k/win-repo" target="_blank" data-toggle="modal">
            <img src="https://scontent-bru2-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/12642703_10153888603006064_2636161288655752167_n.jpg?oh=c2e57132a2b620fe4b4223fb0c269e64&oe=572B60F8" class="img-responsive img" alt="">
          </a>
          <div>
            <h4>WinREPO - Repo for Windows!</h4>
            <p id="small-text" class="text-muted">C#, Visual Studio, Windows</p>
          </div>
        </div>
        <!-- End of Portfolio img4 -->

        <!-- Portfolio img5 -->
        <div class="col-md-4 col-sm-6">
          <a href="https://bitbucket.org/wolverine2k/confmgr" target="_blank" data-toggle="modal">
            <img src="https://www.naresh.se/wp-content/uploads/confmgr.jpg" class="img-responsive img" alt="">
          </a>
          <div>
            <h4>Conference Manager for Maemo/Android</h4>
            <p id="small-text" class="text-muted">C++, Java, Maemo, Android</p>
          </div>
        </div>
        <!-- End of Portfolio img5 -->

        <!-- Portfolio img6 -->
        <div class="col-md-4 col-sm-6">
          <a href="http://slideme.org/fr/user/wolverine2k" target="_blank" data-toggle="modal">
            <img src="https://scontent-bru2-1.xx.fbcdn.net/hphotos-xft1/v/t1.0-9/12654561_10153888615736064_7072152833014675042_n.jpg?oh=0295f84138af8fce391e5a79f0c44b68&oe=573337BE" class="img-responsive img" alt="">
          </a>
          <div>
            <h4>Android Applications on PlayStore</h4>
            <p id="small-text" class="text-muted">Java, Android</p>
          </div>
        </div>
        <!-- End of Portfolio img6 -->
      </div>
    </div>
  </section>

  <body>