.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  border: none;
  font: normal 76px/1 "Aclonica", Helvetica, sans-serif;
  color: #0096ff;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 0 rgba(204, 65, 37, 1), 4px 0 9px rgba(86, 170, 255, 0.9);
}

.img {
  width: 100%;
  height: 200px;
}

body {
  padding-top: 70px;
}

.content-section {
  padding-top: 70px;
  background: url('http://images7.alphacoders.com/475/475592.png') no-repeat center center fixed;
  background-size: cover;
}

.profileimg {
  float: right;
  margin: 0 0 10px 10px;
}