<head>
  <title>Random Quote Generator By Naresh Mehta</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link async href="http://fonts.googleapis.com/css?family=Aclonica" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css" />
</head>

<body class="content-section">
  <div class="container-fluid content-section">
    <h1 class="enjoy-css">Random Quote Generator</h1>
    <h2 class="text-center">By Naresh Mehta</h2>
  </div>

  <div class="container-fluid content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 id="quotePlace" class="text-center"></h1>
        </div>
        <div class="row">
        </div class="col-sm-12">
        <h2 id="authorPlace" class="text-center"></h2>
      </div>
    </div>
  </div>
  </div>
  <!-- row -->
  <div class="container-fluid content-section">
    <div class="container">
      <div class="row">
        <div>
          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-success" id="tweetQuote">Tweet me!</button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary" id="getAnotherQuote">Get another Quote</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="container-fluid content-section">
    <h4 class="text-center">Copyright (c) 2016 - Naresh Mehta, https://www.naresh.se/</h4>
  </div>

  <!-- content-section -->
</body>